# Datasets
Dataset/
!Dataset/
Dataset/*
!Dataset/.gitkeep
Test cases/
static/output/
!static/output/
static/output/*
!static/output/.gitkeep
static/uploads/
!static/uploads/
static/uploads/*
!static/uploads/.gitkeep

# Models
Models/
*.pt
*.pth

# Videos
*.mp4

# Database
*.db

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/